<div class="row">
  <span class="small-12 column">
    <h1>Create new food element</h1>
  </span>
  <%= form_for @food_element.becomes(FoodElement) do |f| %>

    <%= render 'food_element_form_fields', f: f %>

    <div class="row">
      <%= f.submit 'Create Food Element', class: "button" %>
    </div>
  <% end %>
</div>
