<div class="row">
  <div class="small-12 column"><h1>Create some connections for <%= @food_element.name %></h1></div>
  <% if @food_element.connections.count == 0 %>
    <div class="small-12 column">
     <p>Connections are how you can identify pairings of ingredients. For example, salmon goes with asaparagus and garlic goes with everything</p>
    </div>
  <% end %>
  </div>
