<div class="row">
  <div class="small-12 column">
    <h1>Welcome to Food Index</h1>
  </div>
  <div class="small-5 column">
    <ul>
      <li><%= link_to "View food list", food_elements_path %></li>
      <li><%= link_to "Create new food element", new_food_element_path %></li>
    </ul>
  </div>
  <div class="small-7 column">You can do various things</div>
</div>