<div class="row">
  <div class="small-12 column">
    <h1>Welcome to Food Index</h1>
  </div>

  <div class="small-12 column">
    <p>This small app was inspired by the book <a href="http://www.amazon.com/Flavor-Bible-Essential-Creativity-Imaginative/dp/0316118400/" target="_blank">The Flavor Bible</a> by Karen Page and Andrew Dornenburg.</p>
    <p>Their book features an exhaustive listing of foods, flavors, cuisines, techniques, and beverages that enhance or compliment each other.</p>
    <p>Although it is an excellent resource, the fact remains that as a physical book it had limitations that prevent the information within from being utilized to the fullest extent possible.</p>
  </div>
</div>